{{template "layout" .}}

{{define "content"}}

    <div class="container">
        <hr/>
        <form action="/add" method="post" class="form">
            <div class="form-example">
                <label for="name">Enter pet name: </label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-example">
                <label for="email">Enter email: </label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example">
                <label for="image">Enter image: </label>
                <input type="text" name="image" id="image" required>
            </div>
            <div class="form-example">
                <label for="caption">Enter caption: </label>
                <input type="text" name="caption" id="caption" required>
            </div>
            <div class="form-example">
                <label for="likes">Enter likes: </label>
                <input type="number" name="likes" id="likes" required>
            </div>
            <div class="form-example">
                <label for="owner">Enter owner: </label>
                <input type="text" name="owner" id="owner" required>
            </div>
            <div class="form-example">
                <input type="submit" value="Add!">
            </div>
        </form>
    </div>
{{end}}